/* =============================
  Button
============================= */
button, [type=submit] {
  height: 45px;
  margin-bottom: base;
  padding: 10px 30px;
  outline: none;
  text-decoration: none;
  font-size: typography-size-base;

  // color: color-white
  // background: color-black
  // border-round(color-black)
  // transition: transition
  &:hover, &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &.outline {
    color: color-black;
    background: none;

    &:hover, &:focus {
      color: color-white;
      background: color-black;
    }
  }
}

button.dark {
  background: color-black;
  color: color-white;
  border-round(color-black);
}

button.primary {
  color: color-white;
  background: color-blue;
  border-round(color-blue);
}

button.error {
  color: color-white;
  background: color-red;
  border-round(color-red);
}

button.warning {
  color: color-black;
  background: color-yellow;
  border-round(color-yellow);
}

button.success {
  color: color-white;
  background: color-green;
  border-round(color-green);
}

button.btn-sm {
  height: 30px;
  margin-bottom: base;
  padding: 5px 15px;
  outline: none;
  text-decoration: none;
  font-size: typography-size-base;
  &:hover, &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &.outline {
    color: color-black;
    background: none;

    &:hover, &:focus {
      color: color-white;
      background: color-black;
    }
  }
}