/* =============================
  Card
============================= */
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: base;
  border-round(color-gray);

  .card-header {
    margin: base base 0 base;
  }

  .card-subtitle {
    margin: 0 base;
    color: color-gray;
  }

  .card-body {
    margin: base;
  }

  .card-content {
    margin: 0;
    padding: base;
  }

  .card-image {
    display: block;
    height: auto;
    width: 100%;
  }
}

.card-smooth {
  border-smooth();
}