span.tags {
    padding: 8px;
    font-size: 70%;
    border(color-grey)
}

span.tags.primary {
    background: color-fade-blue;
    color: color-black;
}

span.tags.dark {
    background: color-fade-black;
    color: color-black;
}

span.tags.success {
    background: color-fade-green;
    color: color-black;
}

span.tags.error {
    background: color-fade-red;
    color: color-black;
}

span.tags.warning {
    background: color-fade-yellow;
    color: color-black;
}